Gemfile.lock
!_site/static
_site
.sass-cache
.jekyll-metadata
#//_includes/homepage*
*.yaml~
*.*~
taleo
sitemap.xml.gz
.DS_store
/assets/images/events/Lear_photo_2.JPG
/assets/images/events/Lear_photo_2_thumb.JPG
