---
layout: default-empty
---
<section class="p-strip">
  <div class="row">
    <div id="center" class="col-6">
      <div id="homepage" class="content">

<!-- eight main stories -->
{% for post in site.posts limit: 10%}
        <h2 class="p-heading--four"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

        {{ post.excerpt | remove:'<div class="letter">' | textilize }}

        <p class="post-link"><a href="{{ post.url | prepend: site.baseurl }}">Continue reading &#8230;</a></p>

        <p class="u-clearfix posted">{{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}</p>
{% endfor %}

<!-- /end eight main stories -->

        <div id="recent">

          <h2>Recent Entries</h2>

          <ul id="entry_list">
{% for post in site.posts limit: 10 offset: 10 %}
            <li><strong><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong><br />{{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}</li>
{% endfor %}
          </ul>

        </div><!-- end div recent -->
      </div><!-- end div content -->
    </div><!-- end div center -->

    <div id="middle" class="col-3">

<!-- start div weather -->
{% include homepage_weather.html %}
<!-- end div weather -->

<!-- start div upcoming events -->
{% include homepage_events.html %}
<!-- end div upcoming events -->

<!-- start div upcoming plays -->
{% include homepage_event_play.html %}
<!-- end div upcoming plays -->

<!-- start div forum -->
{% include homepage_forum.html %}
<!-- end div forum -->

    </div><!-- end div middle -->

    <div id="right" class="sidebar col-3">

      <div id="twitter" class="infobox">
{% include homepage_twitter.html %}
      </div><!-- /end div twitter -->

      <div id="newsletter" class="p-card">
          <h3 class="p-card__title p-muted-heading">Newsletter Sign-Up</h3>
          <div class="p-card__content">
          <p>Please sign-up for our weekly Newsletter to let you know all the current news and upcoming events in the St Margarets area.</p>
            <form method="post" action="/cgi-bin/newsletter.cgi">
            <p><label for="newsletteremailinline">Your Email Address:</label></p>
            <p><input type="text" id="newsletteremailinline" name="email" value="" size="25" /></p>
            <p><input type="submit" name="topage" value="register" /></p>
          </form>
          <p class="message">We will never sell your email address, or let third parties use it.  Your privacy is important to us.</p>
        </div>
      </div><!-- /end div newsletter -->

      <div id="traininfo" class="infobox">

        <h3>Current Train Information</h3>

        <ul>
          <li> <a href="/cgi-bin/train_parser.cgi?station=SMG">St Margarets Station</a></li>
          <li> <a href="/cgi-bin/train_parser.cgi?station=TWI">Twickenham Station</a></li>
          <li> <a href="/cgi-bin/train_parser.cgi?station=RMD">Richmond Station</a></li>
        </ul>

      </div><!-- /end div traininfo -->

{% include local_sites.html %}

      <div id="archives"  class="infobox">

        <h2><a href="/archives/">Archives</a></h2>

        <ul>
{% assign counter = 0 %}{% for post in site.posts %}{% capture currentyearmonth %}{{post.date | date: "%B %Y"}}{% endcapture %}{% capture currentyearmonthurl %}{{post.date | date: "/archives/%Y/%m/"}}{% endcapture %}{% if currentyearmonth != lastyearmonth and counter < 12 %}
          <li><a href="{{ currentyearmonthurl }}">{{ currentyearmonth }}</a></li>
        {% assign counter = counter | plus: 1 %}{% capture lastyearmonth %}{{currentyearmonth}}{% endcapture %}{% endif %}{% endfor %}
        </ul>

      </div><!-- end div archives -->
    </div><!-- end div right -->
  </div><!-- end div row -->
</section>
