---
layout: default-static
sitemap: false
---

<pre>
{% for post in site.posts limit: 15 %}

    <h3><a href="{{ post.url | prepend: site.url }}?utm_source=newsletter&utm_medium=email&utm_campaign=traffic%2Bfrom%20newsletter">{{ post.title }}</a></h3>

    {% if post.image %}
    <p><img src="{{ post.image }}" width="150" align="right" style="border: 1px solid #ccc; padding: 1px;" alt="" /></p>
    {% endif %}

    {{ post.excerpt | markdownify }}

    <p class="extended">&mdash; <a href="{{ post.url | prepend: site.url }}?utm_source=newsletter&utm_medium=email&utm_campaign=traffic%2Bfrom%20newsletter">read more</a></p>

{% endfor %}
</pre>
