<div class="u-fixed-width">
    <br />
    <div class="p-notification--caution">
        <div class="p-notification__content">
            <h5 class="p-notification__title">
                Closed down
            </h5>
            <p class="p-notification__message">
                This site is no longer updated.<br />
                The archives are being made available for a time.<br />
                <a href="/archives/2021/12/closing-down-the-st-margarets-community-website.html">More information</a>
            </p>
        </div>
    </div>
</div>
