<div class="comments">
    <h2>Comments</h2>
    <ul>
{% for comment in site.data.[page.commentfile] %}
        <li>
{{ comment.comment }}
            <cite>{{ comment.author }} on {{ comment.date }}</cite>

        </li>
{% endfor %}
    </ul>
</div><!-- end comments -->

<div id="commentform">
    <form method="get" action="//stmgrts.org.uk/cgi-bin/comments.cgi">
        <fieldset>
            <h3>Add a comment</h3>
            <p><label for="name">Name</label><br />
                <input type="text" id="name" name="name" value="" /></p>
            <p><label for="email">Email</label><br />
                <input type="email" id="email" name="email" value="" /></p>
            <p><label for="comment">Comment</label><br />
                <textarea id="comment" name="comment"></textarea></p>
            <p><input type="submit" name="a" value="comment" /></p>
                <input type="hidden" name="page-id" value="[page.commentfile]" />
        </fieldset>
    </form>
</div>