<notextile>
<div class="comments">
    <h3>Comments</h3>
    <ul>
{% for comment in site.data.[include.commentfile] %}
    {% if comment.comment != null %}
        <li>
{{ comment.comment }}
            <cite>{{ comment.author }} on {{ comment.date }}</cite>

        </li>
    {% endif %}
{% endfor %}
    </ul>
</div><!-- end comments -->

<div id="commentform">
    <h4>Add a comment</h4>
    <form method="post" action="/cgi-bin/comments.cgi">
        <fieldset>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="" />
            <label for="email">Email</label>
            <em>your email will not be displayed with the comment</em>
            <input type="email" id="email" name="email" value="" />
            <label for="comment-text">Comment</label>
            <textarea id="comment-text" name="comment"></textarea><br />
            <div class="g-recaptcha" data-sitekey="6LdCKRsUAAAAAN5e7IFMG-At24xX-qjKItgjvzKf"></div>
            <input type="submit" name="a" value="comment" class="button-primary" />
            <input type="hidden" name="page-id" value="{{ include.commentfile }}" />
        </fieldset>
    </form>
</div><!-- end commentform -->
</notextile>
