<div id="footer">
  <div class="container">
    <div class="row">
      <div id="footer_nav" class="offset-by-one three columns">
         <h2>Navigation</h2>
         <ul>
            <li><a href="/">homepage</a></li>
            <li><a href="/event">events</a></li>
            <li><a href="/directory">local info</a></li>
            <li><a href="/forum">forums</a></li>
            <li><a href="/cgi-bin/newsletter.cgi">newsletter</a></li>
            <li><a href="/poll">polls</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/colophon">about</a></li>
         </ul>
       </div><!-- end div footer_nav -->

      <div id="footer_archives" class="three columns">
         <h2><a href="/archives" title="Archives">Archives</a></h2>
         <ul>
            <li><a href="/archives/news">news</a></li>
            <li><a href="/archives/editorial">editorial</a></li>
            <li><a href="/archives/around-town">around town</a></li>
         </ul>

         <h2>News Feed</h2>

         <ul>
            <li><a href="/feed.xml">atom</a></li>
         </ul>


       </div><!-- end div footer_archives -->

      <div id="footer_search" class="four columns">
    <!-- Search Google -->
        <h2>Search</h2>

        <form id="searchbox_011552492105320257021:aklyesuuk5c" action="http://www.google.com/cse">
          <input type="hidden" name="cx" value="011552492105320257021:aklyesuuk5c"/>
          <p><input name="q" type="text" size="20"/></p>
          <p><input type="submit" name="sa" value="Search" class="button-primary"/></p>
          <input type="hidden" name="cof" value="FORID:0"/>
        </form>
    <!-- Search Google -->

        <h2>Train Schedules</h2>

        <ul>
          <li> <a href="/cgi-bin/train_parser.cgi?station=SMG">St Margarets Station</a></li>
          <li> <a href="/cgi-bin/train_parser.cgi?station=TWI">Twickenham Station</a></li>
          <li> <a href="/cgi-bin/train_parser.cgi?station=RMD">Richmond Station</a></li>
        </ul>

      </div><!-- end div footer_search -->

      <p class="copyright">Copyright &copy; 2005-2016 St Margarets Community Website<br/>Some rights reserved <a href="http://creativecommons.org/licenses/by-nd/2.0/"><img alt="Creative Commons License" src="//stmgrts.org.uk/assets/images/cc_by_nd.png" width="69" height="13" class="inline" style="padding: 0; margin: 0;" /></a></p>
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /footer -->
