<!-- banner -->
<header id="navigation" class="p-navigation">
  <div class="p-navigation__row u-fixed-width">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/" accesskey="1" title="St Margarets Community Website">
          <img class="p-navigation__image" src="/assets/images/stmgrts-logo.svg" alt="St Margarets Community Website" />
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav" role="menubar">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__links" role="menu">
        <li class="p-navigation__link {% if page.url contains '/archives/news/' %}is-selected{% endif %}" role="menuitem"><a href="/archives/news/" class="nav">news</a></li>
        <li class="p-navigation__link {% if page.url contains '/archives/editorial/' %}is-selected{% endif %}" role="menuitem"><a href="/archives/editorial/" class="nav">editorial</a></li>
        <li class="p-navigation__link {% if page.url contains '/archives/around-town/' %}is-selected{% endif %}" role="menuitem"><a href="/archives/around-town/" class="nav">around town</a></li>
        <li class="p-navigation__link {% if page.url contains '/event' %}is-selected{% endif %}" role="menuitem"><a href="/event" class="nav">events</a></li>
        <li class="p-navigation__link {% if page.url contains '/directory' %}is-selected{% endif %}" role="menuitem"><a href="/directory" class="nav">local info</a></li>
        <li class="p-navigation__link {% if page.url contains '/forum' %}is-selected{% endif %}" role="menuitem"><a href="/forum" class="nav">forums</a></li>
      </ul>
      <form class="p-search-box" id="google-appliance-search-form" id="searchbox_011552492105320257021:aklyesuuk5c" action="https://www.google.com/cse">
        <input type="hidden" name="cx" value="011552492105320257021:aklyesuuk5c" />
        <input type="hidden" name="cof" value="FORID:0" />
        <input class="p-search-box__input" name="q" type="search" size="20" placeholder="Search"  required="">
        <button type="reset" class="p-search-box__reset" alt="reset"><i class="p-icon--close"></i></button>
        <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
      </form>
    </nav>
  </div>
</header>
