<!-- banner -->
<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row u-fixed-width">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__item" href="/" accesskey="1" title="St Margarets Community Website">
          <img class="p-navigation__image" src="/assets/images/stmgrts-logo.svg" alt="St Margarets Community Website" />
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav" aria-label="main navigation">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
    </nav>
  </div>
</header>
