<!-- /banner -->
    <div id="banner" class="sixteen columns">
      <div id="logo" ><a href="/" accesskey="1" title="St Margarets Community Website"><img src="/assets/images/stmgrts_logo_tree.png" width="85" height="77" alt="St Margarets Community Website" /></a></div>
      <div id="sitename" >
        <h1><a href="/" accesskey="1" title="St Margarets Community Website">St Margarets<br /><span>Community Website</span></a></h1>
      </div><!-- end div logo -->

      <div id="search" class="offset-by-twelve four">
        <form id="searchbox_011552492105320257021:aklyesuuk5c" action="http://www.google.com/cse">
          <input type="hidden" name="cx" value="011552492105320257021:aklyesuuk5c" />
          <input name="q" type="text" size="20" placeholder="Search" />
          <input type="hidden" name="cof" value="FORID:0" />
        </form>
      </div><!-- /search -->
    </div><!-- end div banner -->
<!-- /banner -->


<!-- navigation -->
    <div id="navigation" class="sixteen columns">
      <nav>
        <ul>
          <li><a href="/" class="nav">home</a></li>
          <li><a href="/archives/news/" class="nav">news</a></li>
          <li><a href="/archives/editorial/" class="nav">editorial</a></li>
          <li><a href="/archives/around-town/" class="nav">around town</a></li>
          <li><a href="/event" class="nav">events</a></li>
          <li><a href="/directory" class="nav">local info</a></li>
          <li><a href="/forum" class="nav">forums</a></li>
          <li><a href="/colophon" class="nav">about</a></li>
          <li><a href="/cgi-bin/newsletter.cgi" class="nav">newsletter</a></li>
        </ul>
      </nav>
    </div><!-- end div navigation -->
<!-- /navigation -->
