              <div id="plays" class="infobox">
                  <h3>Upcoming plays</h3>
                  <p>Here are the plays that are currently running or happening soon in our area.  For all plays, check out the <a href="/event/play">events play section</a>.</p>
                  <ul class="vcalendar">
      <li class="vevent">
        <a class="url summary" href="event/play/200705146458">Teddington Theatre Club : AFTER ELECTRA
</a><br />
        <abbr class="dtstart" title="201834-18T0000">4-18 March &nbsp;</abbr><span class="dtend" title="2018318T0000"></span>

        
    <br />
    <span class="location">
      Hampton Hill Theater
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/play/200705146495">Teddington Theatre Club : A MONTH OF SUNDAYS
</a><br />
        <abbr class="dtstart" title="2018317-23T0000">17-23 March &nbsp;</abbr><span class="dtend" title="2018323T0000"></span>

        
    <br />
    <span class="location">
      Hampton Hill Theater
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/play/200705146475">Richmond Shakespeare Society : Macbeth
</a><br />
        <abbr class="dtstart" title="2018317-24T0000">17-24 March &nbsp;</abbr><span class="dtend" title="2018324T0000"></span>

        
    <br />
    <span class="location">
      Mary Wallace Theatre
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/play/200705146476">Richmond Shakespeare Society : The 39 Steps
</a><br />
        <abbr class="dtstart" title="2018421-28T0000">21-28 April &nbsp;</abbr><span class="dtend" title="2018428T0000"></span>

        
    <br />
    <span class="location">
      Mary Wallace Theatre
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/play/200705146477">Richmond Shakespeare Society : Joking Apart
</a><br />
        <abbr class="dtstart" title="201862-9T0000">2-9 June &nbsp;</abbr><span class="dtend" title="201869T0000"></span>

        
    <br />
    <span class="location">
      Mary Wallace Theatre
    </span>
      </li>
      </ul>
              </div>
