
<div id="latest_forum" class="infobox">
	<h3>Recent Forum Posts</h3>
	<ul>
	
		
		<li>
			<a href="http://www.stmgrts.org.uk/forum.cgi?action=single&amp;message_id=3402&amp;topic_id=3&amp;page=1">Disaster Risk Consultant looking for desk space</a><br />
			<span class="comm">Hi,   Any small businesses out there interested in renting desk space for a freelance  &#8230;</span><br />
			<em> &#8212; 2015-10-06 by EmilyJWR in <a href="http://www.stmgrts.org.uk/forum.cgi?action=jump&amp;topic_id=3">Classifieds</a></em>
		</li>
		
		
		<li>
			<a href="http://www.stmgrts.org.uk/forum.cgi?action=single&amp;message_id=3401&amp;topic_id=3&amp;page=1">Nanny wanted! </a><br />
			<span class="comm">Hello,   Myself and a neighbour are looking for a nanny to work with us both as a nanny  &#8230;</span><br />
			<em> &#8212; 2015-09-15 by Phillipa in <a href="http://www.stmgrts.org.uk/forum.cgi?action=jump&amp;topic_id=3">Classifieds</a></em>
		</li>
		
		
		<li>
			<a href="http://www.stmgrts.org.uk/forum.cgi?action=single&amp;message_id=3400&amp;topic_id=1&amp;page=1">Forum registation fixed</a><br />
			<span class="comm">There was a problem blocking the email confirmation... it is working now &#8230;</span><br />
			<em> &#8212; 2015-09-05 by tester in <a href="http://www.stmgrts.org.uk/forum.cgi?action=jump&amp;topic_id=1">Site News & Feedback</a></em>
		</li>
		
	</ul>
	<p><a href="http://www.stmgrts.org.uk/forum.cgi">Go to the Forum</a></p>
<!-- latest_forum --></div>
	
	

	