              <div id="events" class="infobox">
                  <h3>Upcoming Events</h3>
                  <p>Here are the events coming up in the next few weeks in our area.  For all  events, check out our <a href="/event">events section</a>.</p>
                  <ul class="vcalendar">
      <li class="vevent">
        <a class="url summary" href="event/show/200705146473">TwickFolk : Mothers' Day Singaround
</a><br />
        <abbr class="dtstart" title="2018311T1945">Sunday, 11 March 7:45pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      The Cabbage Patch Public House
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/event/200705146503">Richmond Film Society : Outside the Law
</a><br />
        <abbr class="dtstart" title="2018313T2000">Tuesday, 13 March 8pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      The Exchange
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/concert/200705146396">Twickenham Jazz Club : Enzo Zirilli Band feat. Rob Luft
</a><br />
        <abbr class="dtstart" title="2018313T2030">Tuesday, 13 March 8:30pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      The Cabbage Patch Public House
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/concert/200705146371">Richmond Concert Society : LAWRENCE POWER (VIOLIN & VIOLA), VERTAVO QUARTET & SIMON CRAWFORD-PHILLIPS (PIANO)
</a><br />
        <abbr class="dtstart" title="2018313T1945">Tuesday, 13 March 7:45pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      St Margarets Catholic Church
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/match/200705146347">Rugby Football Union (RFU) : Schools Cup Finals Day
</a><br />
        <abbr class="dtstart" title="2018314T1100">Wednesday, 14 March 11am</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      Twickenham Rugby Grounds
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/match/200705146346">Rugby Football Union (RFU) : Six Nations - England v Ireland
</a><br />
        <abbr class="dtstart" title="2018317T1445">Saturday, 17 March 2:45pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      Twickenham Rugby Grounds
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/concert/200705146233">Twickenham Choral Society : Bernstein and Lauridsen
</a><br />
        <abbr class="dtstart" title="2018317T1930">Saturday, 17 March 7:30pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      All Saints Church, Kingston
    </span>
      </li>
      
      <li class="vevent">
        <a class="url summary" href="event/show/200705146470">TwickFolk : Chris Cleverley
</a><br />
        <abbr class="dtstart" title="2018318T1945">Sunday, 18 March 7:45pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      The Cabbage Patch Public House
    </span>
      </li>
      </ul>
              </div>
