<h3>twitter <a href="http://twitter.com/intent/user?screen_name=stmgrts">@stmgrts</a></h3>
<ul class="p-list">

		<li class="p-list__item">
		Looks like Rain tomorrow! <a href="https://t.co/0nmHGZ4OWo">t.co/0nmHGZ4OWo</a><br />
		<span class="date"><a href="http://twitter.com/stmgrts/status/981050296318201856" title="see tweet on twitter.com">Tue Apr 03 06:06:32</a></span><br />
		
		</li>
		
		<li class="p-list__item">
		Upcoming Event TwickFolk : Hattie Briggs 8 Apr 2018 @ 7:45pm <a href="https://t.co/ncCLTCsrnv">t.co/ncCLTCsrnv</a> #stm<br />
		<span class="date"><a href="http://twitter.com/stmgrts/status/981037338703867904" title="see tweet on twitter.com">Tue Apr 03 05:15:02</a></span><br />
		
		</li>
		
		<li class="p-list__item">
		Upcoming Event Poetry at the Adelaide 8 Apr 2018 @ 6:00pm <a href="https://t.co/VU0vcSsUyX">t.co/VU0vcSsUyX</a> #stm<br />
		<span class="date"><a href="http://twitter.com/stmgrts/status/981037336506060801" title="see tweet on twitter.com">Tue Apr 03 05:15:02</a></span><br />
		
		</li>
		
</ul>
