<div class="p-card">

<h3 class="p-card__title p-muted-heading">twitter <a href="http://twitter.com/intent/user?screen_name=stmgrts">@stmgrts</a></h3>
<ul class="p-card__content">

		<li>
		Looks like Rain tomorrow! <a href="https://t.co/WYgG8uRXpP">t.co/WYgG8uRXpP</a><br />
		<span class="date"><a href="http://twitter.com/stmgrts/status/972745595726286849" title="see tweet on twitter.com">Sun Mar 11 08:06:37</a></span><br />

		</li>

		<li>
		Upcoming Event TwickFolk : Mothers&#39; Day Singaround 11 Mar 2018 @ 7:45pm <a href="https://t.co/Pg6k0ZWNdq">t.co/Pg6k0ZWNdq</a> #stm<br />
		<span class="date"><a href="http://twitter.com/stmgrts/status/972430620386381824" title="see tweet on twitter.com">Sat Mar 10 11:15:01</a></span><br />

		</li>

		<li>
		Looks like Showers tomorrow! <a href="https://t.co/WYgG8uRXpP">t.co/WYgG8uRXpP</a><br />
		<span class="date"><a href="http://twitter.com/stmgrts/status/972383157789093888" title="see tweet on twitter.com">Sat Mar 10 08:06:25</a></span><br />

		</li>

</ul>
</div>
