            	<div id="plays" class="infobox">
	                <h3>Upcoming plays</h3>
	                <p>Here are the plays that are currently running or happening soon in our area.  For all plays, check out the <a href="/event/play">events play section</a>.</p>
	                <ul class="vcalendar">
			<li class="vevent">
				<a class="url summary" href="event/play/200705145038">Orange Tree Theatre : The Distance
</a><br />
				<abbr class="dtstart" title="20151126-19T0000">26-19 Nov-Dec &nbsp;</abbr><span class="dtend" title="20151219T0000"></span>

				
		<br />
		<span class="location">
			Orange Tree Theatre
		</span>
			</li>
			
			<li class="vevent">
				<a class="url summary" href="event/play/200705145260">Teddington Theatre Club : SLEEPING BEAUTY
</a><br />
				<abbr class="dtstart" title="2015125-12T0000">5-12 December &nbsp;</abbr><span class="dtend" title="20151212T0000"></span>

				
		<br />
		<span class="location">
			Hampton Hill Theater
		</span>
			</li>
			
			<li class="vevent">
				<a class="url summary" href="event/play/200705145283">Richmond Shakespeare Society : The Adventures of Dick Whittington and his Cat
</a><br />
				<abbr class="dtstart" title="20151211-19T0000">11-19 December &nbsp;</abbr><span class="dtend" title="20151219T0000"></span>

				
		<br />
		<span class="location">
			Mary Wallace Theatre
		</span>
			</li>
			
			<li class="vevent">
				<a class="url summary" href="event/play/200705145039">Orange Tree Theatre : A Christmas Carol
</a><br />
				<abbr class="dtstart" title="20151213T0000">Sunday, 13 December </abbr><span class="dtend" title="T0000"></span>

				
		<br />
		<span class="location">
			Orange Tree Theatre
		</span>
			</li>
			</ul>
	            </div>
