              <div id="events" class="infobox">
                  <h3>Upcoming Events</h3>
                  <p>Here are the events coming up in the next few weeks in our area.  For all  events, check out our <a href="/event">events section</a>.</p>
                  <ul class="p-list">
      <li class="p-list__item">
        <a href="event/event/200705146526">The Exchange : The Story Exchange
</a><br />
        <abbr class="dtstart" title="2018327T2000">Tuesday, 27 March 8pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      The Exchange
    </span>
      </li>
      
      <li class="p-list__item">
        <a href="event/event/200705146524">The Exchange : Richmond Film Society Presents Marshland
</a><br />
        <abbr class="dtstart" title="2018327T2000">Tuesday, 27 March 8pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      The Exchange
    </span>
      </li>
      
      <li class="p-list__item">
        <a href="event/event/200705146520">Hounslow and District History Society : Local Market Gardener Families
</a><br />
        <abbr class="dtstart" title="2018327T1930">Tuesday, 27 March 7:30pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      United Reformed Church Hall, Chapel Road, Hounslow, TW3 1UL
    </span>
      </li>
      
      <li class="p-list__item">
        <a href="event/concert/200705146398">Twickenham Jazz Club : Winston Rollins Big Band
</a><br />
        <abbr class="dtstart" title="2018327T2030">Tuesday, 27 March 8:30pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      The Cabbage Patch Public House
    </span>
      </li>
      
      <li class="p-list__item">
        <a href="event/event/200705146538">Richmond Ramblers : TEDDINGTON CIRCULAR
</a><br />
        <abbr class="dtstart" title="2018328T1115">Wednesday, 28 March 11:15am</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      Teddington station, platform 1 (Waterloo 10:42, Clapham Junction 10:51, Kingston 11:10). Also buses R68 and 33 to Broad Street, Teddington and then a short walk to station.
    </span>
      </li>
      
      <li class="p-list__item">
        <a href="event/event/200705146539">Richmond Ramblers : MERSTHAM and St MARGARET'S WELL
</a><br />
        <abbr class="dtstart" title="2018331T1050">Saturday, 31 March 10:50am</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      Merstham Station (Clapham Junction 10.15, change at East Croydon for 10.34 to Merstham).
    </span>
      </li>
      
      <li class="p-list__item">
        <a href="event/event/200705146454">Normansfield Theatre : A walk around Normansfield
</a><br />
        <abbr class="dtstart" title="2018331T1100">Saturday, 31 March 11am-1pm</abbr><span class="dtend" title="2018331T1300"></span>

        
    <br />
    <span class="location">
      Normansfield Theatre
    </span>
      </li>
      
      <li class="p-list__item">
        <a href="event/show/200705146465">TwickFolk : Singaround: bring a song or two, join in, or just come and listen!
</a><br />
        <abbr class="dtstart" title="201841T1945">Sunday, 1 April 7:45pm</abbr><span class="dtend" title="T0000"></span>

        
    <br />
    <span class="location">
      The Cabbage Patch Public House
    </span>
      </li>
      </ul>
              </div>
              