<h3>twitter <a href="http://twitter.com/intent/user?screen_name=stmgrts">@stmgrts</a></h3>
<ul class="p-list">

		<li class="p-list__item">
		Upcoming Event The Exchange : The Story Exchange 27 Mar 2018 @ 8:00pm <a href="https://t.co/FEwj8GzZjq">t.co/FEwj8GzZjq</a> #stm<br />
		<span class="date"><a href="http://twitter.com/stmgrts/status/978228833341100032" title="see tweet on twitter.com">Mon Mar 26 11:15:03</a></span><br />
		
		</li>
		
		<li class="p-list__item">
		The Exchange : Richmond Film Society Presents Marshland 27 Mar 2018 @ 8:00pm <a href="https://t.co/jE9lP79aou">t.co/jE9lP79aou</a> #stm<br />
		<span class="date"><a href="http://twitter.com/stmgrts/status/978228832149925888" title="see tweet on twitter.com">Mon Mar 26 11:15:02</a></span><br />
		
		</li>
		
		<li class="p-list__item">
		Hounslow and District History Society : Local Market Gardener Fa... 27 Mar 2018 @ 7:30pm <a href="https://t.co/aQA5IzqPlg">t.co/aQA5IzqPlg</a><br />
		<span class="date"><a href="http://twitter.com/stmgrts/status/978228830925152256" title="see tweet on twitter.com">Mon Mar 26 11:15:02</a></span><br />
		
		</li>
		
</ul>
