	            <div id="events" class="infobox">
	                <h3>Upcoming Events</h3>
	                <p>Here are the events coming up in the next few weeks in our area.  For all  events, check out our <a href="/event">events section</a>.</p>
	                <ul class="vcalendar">
			<li class="vevent">
				<a class="url summary" href="event/event/200705145143">Orleans House Gallery : Good Impressions: The Art of the Printmaker
</a><br />
				<abbr class="dtstart" title="201593-29T0000">3-29 Sep-Nov &nbsp;</abbr><span class="dtend" title="20151129T0000"></span>

				
		<br />
		<span class="location">
			Orleans House Gallery
		</span>
			</li>
			
			<li class="vevent">
				<a class="url summary" href="event/show/200705145159">Bearcat Comedy Club : Abi Roberts, John Lynn, John Mann and Jonny Awsum
</a><br />
				<abbr class="dtstart" title="20151128T0000">Saturday, 28 November </abbr><span class="dtend" title="T0000"></span>

				
		<br />
		<span class="location">
			The Turks&#39; Head Public House
		</span>
			</li>
			
			<li class="vevent">
				<a class="url summary" href="event/event/200705145245">Richmond Ramblers : RICHMOND to HAMPTON COURT
</a><br />
				<abbr class="dtstart" title="20151128T1100">Saturday, 28 November 11am</abbr><span class="dtend" title="T0000"></span>

				
		<br />
		<span class="location">
			Richmond Station
		</span>
			</li>
			
			<li class="vevent">
				<a class="url summary" href="event/fair/200705145268">Normansfield Theatre : Christmas Craft Fair
</a><br />
				<abbr class="dtstart" title="20151128T1100">Saturday, 28 November 11am-5pm</abbr><span class="dtend" title="20151128T1700"></span>

				
		<br />
		<span class="location">
			Normansfield Theatre
		</span>
			</li>
			
			<li class="vevent">
				<a class="url summary" href="event/show/200705145197">TwickFolk : Sarah McQuaid
</a><br />
				<abbr class="dtstart" title="20151129T1945">Sunday, 29 November 7:45pm</abbr><span class="dtend" title="T0000"></span>

				
		<br />
		<span class="location">
			The Cabbage Patch Public House
		</span>
			</li>
			
			<li class="vevent">
				<a class="url summary" href="event/concert/200705145269">Normansfield Theatre : Il Barbiere de Siviglia
</a><br />
				<abbr class="dtstart" title="20151129T1930">Sunday, 29 November 7:30pm</abbr><span class="dtend" title="T0000"></span>

				
		<br />
		<span class="location">
			Normansfield Theatre
		</span>
			</li>
			
			<li class="vevent">
				<a class="url summary" href="event/event/200705145262">Art History One Masterpiece at a Time : A Wheatfield, with Cypresses, Vincent van Gogh, 1889
</a><br />
				<abbr class="dtstart" title="2015121T1200">Tuesday, 1 December 12-1pm</abbr><span class="dtend" title="2015121T1300"></span>

				
		<br />
		<span class="location">
			Orleans House Gallery
		</span>
			</li>
			
			<li class="vevent">
				<a class="url summary" href="event/event/200705145201">Richmond &amp; District Decorative and Fine Arts Society (RADFAS) : Three Wise Men: Gold, Frankincense and Myrrh - Traditions of the Magi
</a><br />
				<abbr class="dtstart" title="2015121T2000">Tuesday, 1 December 8pm</abbr><span class="dtend" title="T0000"></span>

				
		<br />
		<span class="location">
			Duke Street Church
		</span>
			</li>
			</ul>
	            </div>
