
<div id="latest_forum" class="infobox">
  <h3>Recent Forum Posts</h3>
  <ul class="p-list">
  

    <li class="p-list__item">
      <a href="https://stmargarets.london/forum?action=single&amp;message_id=3451&amp;topic_id=3&amp;page=1">Re: Looking for Dog Daycare</a><br />
      <span class="comm">Dear Jenna  My wife and I are able to provide day care in our home.  Please call me on &#8230;</span><br />
      <em> &#8212; 2018-03-10 by GFW in <a href="https://stmargarets.london/forum?action=jump&amp;topic_id=3">Classifieds</a></em>
    </li>
    

    <li class="p-list__item">
      <a href="https://stmargarets.london/forum?action=single&amp;message_id=3450&amp;topic_id=3&amp;page=1">Looking for Dog Daycare</a><br />
      <span class="comm">We have recently moved into the area and are looking for someone to look after our toy  &#8230;</span><br />
      <em> &#8212; 2018-03-08 by Jenna Pedrosa in <a href="https://stmargarets.london/forum?action=jump&amp;topic_id=3">Classifieds</a></em>
    </li>
    

    <li class="p-list__item">
      <a href="https://stmargarets.london/forum?action=single&amp;message_id=3449&amp;topic_id=3&amp;page=1">11+ Non Verbal Reasoning (NVR)</a><br />
      <span class="comm">11+ Non Verbal Reasoning (NVR) is solving problems by patterns and shapes. I cover all  &#8230;</span><br />
      <em> &#8212; 2018-03-06 by SC100 in <a href="https://stmargarets.london/forum?action=jump&amp;topic_id=3">Classifieds</a></em>
    </li>
    
  </ul>
  <p><a href="https://stmargarets.london/forum">Go to the Forum</a></p>
<!-- latest_forum --></div>

  
