<div class="row">
  <div class="u-fixed-width">
    {% if post.image %}
    <img src="{{ site.url }}{{ post.image  | remove:'-thumb' }}" width="100%" class="photo-featured" alt="" />
    {% endif %}
    <h3>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    {{ post.excerpt | remove:'<div class="letter">' | markdownify }}
    <p class="post-link"><a href="{{ post.url | prepend: site.baseurl }}">Continue reading &#8230;</a></p>
    <p class="u-clearfix posted">{{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}</p>
  </div>
</div>
