<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
{% if post.image %}
<div class="row">
  <div class="col-4">
    {{ post.excerpt | remove:'<div class="letter">' | markdownify }}
      <p class="post-link"><a href="{{ post.url | prepend: site.baseurl }}">Continue reading &#8230;</a></p>
    </div>
    <div class="col-2">
      <p><img src="{{ site.url }}{{ post.image }}" width="150" class="photo right" alt="" /></p>
    </div>
  </div>
{% else %}
{{ post.excerpt | remove:'<div class="letter">' | markdownify }}
  <p class="post-link"><a href="{{ post.url | prepend: site.baseurl }}">Continue reading &#8230;</a></p>
{% endif %}
  <p class="u-clearfix posted">{{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}</p>
