<div id="newsletter" class="p-card" style="background-color: #F8F3FB;">
  <h3 class="p-card__title">Newsletter Sign-Up</h3>
  <div class="p-card__content">
    <p>Please sign-up for our weekly Newsletter to let you know all the current news and upcoming events in the St Margarets area.</p>
    <form id="form-inline-newsletter" method="post" action="/cgi-bin/newsletter.cgi">
      <label for="newsletteremailinline">Your Email Address:</label>
      <input type="text" id="newsletteremailinline" name="email" value="" size="25" required="" />
      <button type="submit" name="topage" value="register">register</button>
      <p class="p-form-help-text"><small>We will never sell, or let third parties use your email address.  Your privacy is important to us.</small></p>
    </form>
  </div>
</div>
