<meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@stmgrts">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{{ page.excerpt  | strip_html | strip_newlines | truncate: 200 }}">
  <meta name="twitter:creator" content="@stmgrts">
  <meta name="twitter:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/images/stmgrts_logo_tree.png{% endif %}">
  <meta name="twitter:domain" content="stmargarets.london">
