// Colors

$navigation-threshold:    1024px;
$viewport-threshold:      1281px;
$color-brand:             #6D6DAE;
$menu-color:              #4C4C99;
$footer-color:            #474790;
$color-light-purple:      #bfa8bf;
$color-recipe:            #CCFF99;
$color-letter:            #F4EFC5;
$color-bright-purple:     #4b0082;
$color-light-purple:      #c9a0dc;

$color-navigation-background: $color-brand;
$breakpoint-navigation-threshold: 990px;
