// LOCAL STMGRTS STYLES

/*

IMAGE STYLES

    all images are displayed in a block with a 5 pixel space and no border

    all the rest are classes that can be used to do different combinations of things

    USAGE

  <img src="location of image" alt="description"
       width="in pixels" height="in pixels"
       class="inline OR image photo OR right OR left OR right photo OR left photo" />

    DESCRIPTION

  inline - makes the picture act like a word,
   just sitting wherever it was placed

  photo  - adds a 1 pixel solid grey border
   around the photo that is 5 pixels from
   the photo and addes some space around
   the border, so the text isn't right up
   against it

  right  - pushes the photo to the right of the text

  left   - pushes the photo to the left of the text

  center - centers the image, text will not wrap around

*/

img {
  display: block;
  border: 0;
}

.inline {
  display: inline;
}

.photo {
  margin: 0.5em 1em;
  padding: 2px;
  border: 1px solid $color-mid-light;
}

.right {
  float: right;
  clear: right;
  margin-right: 0;
}

.left {
  float: left;
  margin-left: 0;
}

.center {
  margin: auto;
  display: block;
}

/* HELPER STYLES*/
.u-no-left {
  margin-left: 0;
}

/* MAIN STYLES */

.container {
  line-height: 140%;
  text-align: left;
  background-color: $color-x-light;
  font-family: Verdana, "Lucida Grande", sans-serif;
}

/* social button */
#social {
  float:right;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  float: left;
}

ul.share-buttons li::before {
  content: none;
}

ul.share-buttons img{
  width: 32px;
}

.pagenavigation {
  padding-top: 2em;
}
.next {
  text-align: right;
}
/* #Page Styles
================================================== */

#homepage h2 {
  font-size: 1.75em;
  padding-bottom: 0.5em;
}

#homepage #newsletteremailinline {
  width: 100%;
}

#remember, #forget {
  display: inline;
}

#center, #twocolcenter, #right {
  overflow: hidden;
  background-color: $color-x-light;
}

.content {
  background-color: $color-x-light;
  color: $color-dark;
  font-size: 1em;
  overflow: hidden;
}


/* FOOTER */
.p-footer {
  background-color: $footer-color;

  .p-footer__nav {

    h2,
    h2 > a:link,
    li.p-list__item > a:link {
      color: $color-light;
    }

    h2 > a:visited,
    li.p-list__item > a:visited {
      color: $color-mid-light;
    }
  }

  p,
  p a:link,
  p a:visited {
    color: $color-light;
  }
}


/* content */

.content {
  p.posted {
    clear: both;
    color: $color-mid-dark;
    font-size: 0.85em;
    border-top: 1px solid $color-mid-dark;
    text-align: right;
    text-transform: uppercase;
    margin: 1em 0 2em 0;
    line-height: 120%;
    padding: 3px;
    img {
      display: none;
    }
  }
}

/* get rid of typekey icon */

.sidebar {
  overflow: hidden;
}

.sidebar {
  h2 {
    color: $color-mid-dark;
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: .3em;
  }
  li {
    color: $color-mid-dark;
    font-size: 0.85em;
    text-align: left;
    line-height: 150%;
    margin-top: 10px;
  }
  img {
    border: 3px solid $color-x-light;
  }
}

.photo {
  text-align: left;
  margin-bottom: 20px;
}

textarea[id="comment-text"] {
  height: 10em;
  width: 75%;
}

/* infobox */

.infobox {
  overflow: hidden;
  h3 {
    color: $color-dark;
    margin: 1px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
  }
  p {
    font-size: 1em;
    color: $color-dark;
    padding: 5px;
    margin: 10px;
  }
}

#traintable td {
  border-bottom: 1px solid $color-dark;
}

p.footnote {
  color: $color-dark;
  font-size: 9px;
}

#icon-box {
  margin: 2em auto;
}

div.event {
  text-align: center;
}

.event-icon-image {
  margin-bottom: 1em;
}

.event {
  dl {
    padding: 0;
    border: 0;
  }
  dt {
    text-transform: uppercase;
    color: $color-x-light;
    letter-spacing: 0.2em;
    background: $color-mid-dark;
    margin: 0;
    padding: 3px;
    border: 0;
    height: 2rem;
  }
  dd {
    background: $color-light;
    border: 0;
    color: $color-dark;
    font-style: normal;
    height: 2rem;
    margin: 0;
    padding: 0;

    &.date {
      font-size: 5rem;
      font-family: georgia, times, serif;
      line-height: 1;
      height: 5.5rem;
    }
  }
}

.kids {
  text-transform: uppercase;
  color: $color-x-light;
  letter-spacing: 0.2em;
  background: #336;
  font-weight: bold;
  text-align: center;
  padding: 4px  0;
}

#promo {
  margin: 0;
  margin-left: -5px;
  padding: 0;
  border: 0;
}

p {
  &.error {
    font-weight: bold;
    color: red;
  }
  &.message {
    color: black;
    font-style: italic;
  }
}

.inline_menu {
  ul li {
    margin: 0;
    padding: 0 3px;
    padding-left: 1.2em;
    border: 0;
  }
  li {
    display: inline;
    list-style: none;
    border-left: 1px solid $color-brand;
  }
  ul {
    margin-right: 25px;
    background: $color-light;
    border: 1px solid $color-mid-light;
  }
}

/* pullouts */

.pullout {
  width: 33%;
  clear: both;
  float: right;
  margin: 1em 0 1em 2em;
  overflow: hidden;
  padding: 1em;
  border: 1px solid $color-mid-dark;
  font-size: smaller;
  img {
    float: none;
    margin: auto;
  }
}

/* photo stroke */

.photo {
  border: 1px solid $color-mid-light;
}

/* St Margarets Fair */

#smf {
  background: $color-recipe;
}

/* Recipe green div */

.recipe {
  overflow: hidden;
  color: #000;
  border: 1px solid $color-light;
  padding: 20px 30px;
  background: $color-recipe;
  h3 {
    color: #000;
    font-weight: bold;
  }
  table {
    margin: 1em;
    line-height: 2em;
  }
  td, ol > li {
    font-size: 12px;
  }
  ul {
    padding-right: 1em;
    display: inline;
    li {
      padding-right: 1em;
      display: inline;
    }
  }
}

/* Comment Colour */
.p-list__item--comment {
  background: $color-light;
  border: 1px solid $color-mid-light;
  padding: 1em;
  margin-bottom: 2em;

  &::before {
    content: none;
  }

  &::hover {
    background: $color-light-purple;
  }

  > cite {
    display: inline-block;
    padding-bottom: 1em;
  }
}


/* class to allow print only links */

.printOnly {
  display: none;
}

/* table figures */

.fig {
  table {
    border: 1px solid $color-mid-light;
    padding: 0 5px;
    width: 575px;
  }
  td {
    font-size: x0 0.85em;
  }
}

/* for the hCalendar, hide the location */

.location {
  display: none;
}

.vevent abbr {
  border: 0;
}

#newsletter p img {
  padding: 0;
  margin: 0;
  margin-left: -2px;
}

/* Featured Items Box */

#highlight {
  color: $color-dark;
  border: 1px solid $color-dark;
    background: $color-recipe;
  width: 360px;
  float: left;
  margin: 10px 0;
  padding: 5px;
  h3 {
    color: $color-dark;
  }
  dl {
    display: block;
    float: left;
    clear: left;
    margin: 5px;
    padding: 3px;
    width: 95%;
  }
  dt {
    float: left;
    margin: 0;
    padding: 0;
    img {
      border: 1px solid $color-dark;
      padding: 1px;
      background: $color-light;
      width: 104px;
    }
  }
  dd {
    float: left;
    margin: 0;
    padding: 0;
    padding: 3px;
    font-style: normal;
    width: 60%;
    ul {
      margin: 0;
      margin-left: 5px;
      padding: 3px;
    }
    li {}
  }
}

#weather {
  p {
    align: center;
    text-align: center;
  }
  img {
    display: inline;
  }
}

#latest_comments .comm {
  font-size: 1em;
  color: $color-dark;
}

.post-link {
  display: none;
}
div.post-content > table {
  width: 100%;
  box-sizing: border-box;
}
/* for letters, a gold box and serif font */

.letter {
  background: $color-letter;
  border: 1px solid $color-light;
  clear: both;
  font-family: georgia, times, serif;
  font-size: 1.2em;
  color: #000;
  line-height: 1.3em;
  margin: 2em 0;
  overflow: hidden;
  padding: 20px 30px;
}

/* for a simple box */

.box {
  border: 1px solid $color-mid-dark;
  clear: both;
  margin: 2em 0;
  overflow: hidden;
  padding: 1em;

  &:hover {
    background: $color-light;
  }
}

/* hero box */

.hero {
  background-color: $color-light-purple;
  border: 2px solid $color-bright-purple;
  color: $color-dark;
  margin: 2em 5em;
  padding: 3em;
}

/* image captions */

.img_caption {
  margin: 0 1em;
  padding: 0;
  width: 150px;
}

div {
  &.img_caption > {
    img {
      margin: 0;
    }
    span {
      width: 100px;
      margin: 0;
      padding: 0;
      font-style: italic;
    }
  }
  &.right img {
    float: right;
    margin-right: 0;
  }
  &.left img {
    float: left;
    margin-left: 0;
  }
  &.img_caption.center {
    width: 100%;
    > span {
      width: 100%;
    }
  }
}

.warning {
  margin: 1em 0;
  background-color: #C0C0ED;
  padding: 1em;
}

pre {
  color: $color-dark;
  font-family: 'american typewriter', Consolas, 'Lucida Console', 'Bitstream Vera Sans Mono', monospace;
  font-size: 16px;
  line-height: 18px;
  margin: 1em;
  padding: 1em;
  font-weight: normal;
}

.poem {
  color: $color-dark;
  font-family: 'american typewriter', Consolas, 'Lucida Console', 'Bitstream Vera Sans Mono', monospace;
  font-size: 16px;
  line-height: 18px;
  margin: 1em;
  padding: 1em;
  font-weight: normal;
}

.smta img {
  padding-top: 2em;
}

/* for directory category pages */

.more-link a {
  background-color: #8080BB;
  border-radius: 10px 10px 10px 10px;
  color: $color-x-light;
  font-size: 12px;
  font-weight: normal;
  height: 18px;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
}

.accessibility-aid {
  position: absolute;
  left: -999em;
}

.category_image {
  max-width: 150px;
}

#twitter {
  .date {
    font-size: 1.1em;
    font-style: italic;
  }
}

.hidden {
  display: none;
}

blockquote p a img.right {
  margin-right: -33%;
}

a.toggle {
  &:visited, &:active, &:link, &:hover {
    color: $color-light;
    text-decoration: none;
  }
}

/* Forum stuff */
forum table {
  width: 98%;
}

#forum th, #forum td {
  margin: 0;
  padding: 0.5em 1em;
}

#forum {
  th {
    background-color: $color-brand;
    color: $color-x-light;
    text-align: left;
  }
  fieldset {
    border: 0;
  }
}

#conversation {
  .who {
    font-style: italic;
  }
  .me .who {
    background-color: $color-brand;
    color: $color-light;
  }
  .you .who {
    background-color: $color-light;
    color: $color-dark;
  }
  .message {
    line-height: 1.25em;
  }
  td {
    border-bottom: 1px solid $color-mid-dark;
    padding: 1rem;
  }
}

#topic td {
  border-bottom: 1px solid $color-mid-dark;
}

#conversation th, #topic th {
  border: 1px solid $color-mid-light;
}

#forum {
  .sub_conv {
    background-color: $color-light;
    padding: 1rem;
  }
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  nav > ul > li {
    padding: 0.25em 1%;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  nav > ul > li {
    padding: 0.25em 1%;
  }
}

// XXX Caleb - 30.01.18 Nav search box styling fixes
.p-navigation .p-navigation__nav > .p-search-box {
  @media (min-width: $breakpoint-navigation-threshold + 1) {
    margin-top: 2px;
    max-width: 15rem;
  }
}

// nav hover Colour
.p-navigation .p-navigation__links .p-navigation__link:hover {
  background-color: $menu-color;
}

/// XXX Peter - 18 March 2018 fix for form+**input
.p-search-box__input {
  margin-top: 0;
}

// cross fade two photos, used on st pauls piece
@keyframes crossfade__FadeInOut {
  0% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.crossfade {
  height: 600px;
  margin: 40px auto;
  position: relative;
  width: 600px;

  &__image {
    left: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

    &--top {
      animation-name: crossfade__FadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 5s;
      animation-direction: alternate;
    }
  }
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*	@font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/
