---
# main scss file
---
@charset "UTF-8";

// Imports
@import "global-settings";
@import "base";
@import "layout";
@import "stmgrts_lists";
@import "stmgrts_strip";

@include stmgrts-p-lists;
@include stmgrts-p-strip;

// undo some vanilla stuff
p {
  max-width: inherit;
}

blockquote {
  border-left: 0;
}

[type='checkbox'], [type='radio'] {
    opacity: 1;
}
