---
layout: default-empty
---

<div id="twocolcenter" class="row">
  <div class="content eight columns">
    <h2>Archive of posts with {{ page.type }} '{{ page.title }}'</h2>
  {% for post in page.posts limit: 10 %}
    <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    {{ post.excerpt | remove:'<div class="letter">' | textilize }}
    <p class="posted u-full-width">{{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}</p>
  {% endfor %}

    <h3>Older Articles</h3>
    <ul>
      {% for post in page.posts offset: 10 %}
      <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> &mdash; {{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}</li>
      {% endfor %}
    </ul>
  </div><!-- end div content -->
  <div id="right" class="sidebar four columns">
    <h3>Category archives</h3>
    <ul>
      <li><a href="/archives/news">News archives</a></li>
      <li><a href="/archives/editorial">Editorials archives</a></li>
      <li><a href="/archives/around-town">Around town archives</a></li>
    </ul>
  </div><!-- end div right -->
</div><!-- end div twocolcenter -->
