{% include head.html %}

  <body>

{% include google-tag-manager.html %}

{% include header.html %}

<div class="wrapper u-no-margin--top">
  <div id="main-content" class="inner-wrapper">

    <section class="p-strip--light is-shallow">
      <div class="row">
        <div class="col-8">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="col-4">
          {% if page.title %}
          <div id="social">
            {% include social-share.html %}
          </div><!-- end social -->
          {% endif %}
        </div>
      </div>
    </section>
    <section class="p-strip is-shallow">
      <div class="row">
        <div class="col-8">
          {{ content }}
        </div>
      </div>
    </section>

  </div><!-- /.inner-wrapper -->
</div><!-- /.wrapper -->

{% include footer.html %}
    <script src="/assets/js/instantpage-3.0.0.js" type="module" defer></script>
  </body>
</html>
