{% include head.html %}

  <body>
{% include google-tag-manager.html %}
{% include header.html %}

    <div class="wrapper u-no-margin--top">
      <div id="main-content" class="inner-wrapper">

        {% include _goodbye.html %}

        <!-- content -->
        {{ content }}

        <!-- prev/next pagination -->
        <section class="p-article-pagination is-bordered">
          {% if page.previous.url %}
            <a class="p-article-pagination__link--previous" href="{{page.previous.url}}">
              <span class="p-article-pagination__label">Previous</span>
              <span class="p-article-pagination__title">{{page.previous.title}}</span>
            </a>
          {% endif %}
          {% if page.next.url %}
            <a class="p-article-pagination__link--next" href="{{page.next.url}}">
              <span class="p-article-pagination__label">Next</span>
              <span class="p-article-pagination__title">{{page.next.title}}</span>
            </a>
          {% endif %}
        </section>

        <!-- comments -->
	<!-- {{ page.commentfile }} -->
        {% include comments.html commentfile=page.commentfile %}

      </div><!-- /.inner-wrapper -->
    </div><!-- /.wrapper -->

{% include footer.html %}
{% include schema-article.html %}
    <script src="/assets/js/instantpage-3.0.0.js" type="module" defer></script>
    <script src="/assets/js/smartquotes.js"></script>
    var smartquotes = require('smartquotes'); // smartquotes();
  </body>
</html>
