---
layout: default-empty
---

<section class="p-strip--light is-shallow">
  <div class="row">
    <div class="col-12">
      <h1>Archives from {{ page.date | date: "%B %Y" }}</h1>
    </div>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-8">

      {% for post in page.posts limit: 10 %}
      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      {% if post.image %}
      <img src="{{ site.url }}{{ post.image }}" width="150" class="photo right" alt="" />
      {% endif %}
      <p>
        {{ post.excerpt | remove:'<div class="letter">' | markdownify }}
      </p>
      <p class="u-clearfix posted">
        {{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}
      </p>
      {% endfor %}

      <h2>Older Articles</h2>
      <ul>
        {% for post in page.posts offset: 10 %}
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> &mdash; {{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-4">
      <div class="p-card">
        <h3 class="p-card__title p-muted-heading">Monthly archives</h3>
        <ul class="p-card__content p-list">
          {% for post in site.posts %}
          {% capture currentyearmonth %}{{post.date | date: "%B %Y"}}{% endcapture %}
          {% capture currentyearmonthurl %}{{post.date | date: "/archives/%Y/%m/"}}{% endcapture %}
            {% if currentyearmonth != lastyearmonth %}
              <li class="p-list__item"><a href="{{ currentyearmonthurl }}">{{ currentyearmonth }}</a></li>
              {% capture lastyearmonth %}{{currentyearmonth}}{% endcapture %}
            {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
