---
layout: default
---

  <div class="p-strip--light is-shallow">
    <div class="row">
      <div class="col-8">
        <header class="post-header">
          <h2>{{ page.title }}</h2>
          <p><em>{{ page.date | date: "%-d %B %Y" }}{% if page.author %} • {{ page.author }}{% endif %}</em></p>
        </header>
      </div>
      {% if page.title %}
      <div class="col-4">
        {% include social-share.html %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <div class="col-8">
        <div class="post-content">
          {{ content }}
        </div>
      </div>
      <div class="col-4">
        {% include newsletter_signup.html %}
      </div>
    </div>
  </div>
