---
layout: default-empty
---
<section class="p-strip--light is-shallow">
  <div class="row">
    <div class="u-fixed-width">
      <h1>Archives from {{ page.date | date: "%Y" }}</h1>
    </div>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-8">

      {% for post in page.posts limit: 10 %}
        {% include index-posts.html %}
      {% endfor %}

      <h2>Older Articles</h2>
      <ul>
        {% for post in page.posts offset: 10 %}
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> &mdash; {{ post.date | date: "%-d %B %Y" }} | {{ post.categories | join: ', ' }}</li>
        {% endfor %}
      </ul>

    </div>
    <div class="col-4">
      <div class="p-card">
        <h3 class="p-card__title p-muted-heading">Monthly archives</h3>
        <ul class="p-card__content p-list">
          {% for post in site.posts %}
            {% capture currentyearmonth %}{{post.date | date: "%B %Y"}}{% endcapture %}
            {% capture currentyearmonthurl %}{{post.date | date: "/archives/%Y/%m/"}}{% endcapture %}
            {% if currentyearmonth != lastyearmonth %}
              <li class="p-list__item"><a href="{{ currentyearmonthurl }}">{{ currentyearmonth }}</a></li>
              {% capture lastyearmonth %}{{currentyearmonth}}{% endcapture %}
            {% endif %}
            {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</section>
